wordpress/wp-includes/*
wordpress/wp-admin/*
*.scssc
default/config/creds.php
wordpress/wp-config.php

wordpress/*.php
wordpress/license.txt
wordpress/readme.html
wordpress/xmlrpc.php

wordpress/wp-content/plugins/

wordpress/wp-content/*.php

wordpress/wp-content/themes/twentythirteen/

wordpress/wp-content/themes/index.php

wordpress/wp-content/themes/index.php
sql/creds.sql
Makefile.properties
frontend/www/assets/css/.sass-cache
frontend/www/config/creds.php
frontend/www/test.php
.DS_Store
sql/prod.sql
main/config/creds.php
main/config/creds.php
